<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Book It</title>
        <link rel="stylesheet" type="text/css" href="">
    </head>
    <body>
        <header>
            <h1>Welcome to Book It</h1>
        </header>
        <nav>
            <a href="/">Home</a>
            <button id="logout" class="btn-no-style">Logout</button>
            <a href="/login">Login</a>
            <a href="/api/rent">Rent books Here</a>
        </nav>
        <main>
            <aside>
                <h2>Books for Rent</h2>
            </aside>
            <div class="books">
            </div>
        </main>
        {{!-- {{#if loggedIn}}
        <script src="/js/logout.js"></script>
        {{if}} --}}
    </body>
</html>